/*
	http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom styles */

body {
	background: #F5F5F7;
	color: rgb(74, 74, 74);
	font: 400 15px/22px "Lato", "Helvetica Neue", Helvetica, "Open Sans", Arial, sans-serif;
}

/* Grid */

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
.container,
.grid {
	margin: 0 auto;
	width: 960px;
}
.container {
	padding-left: 30px;
	padding-right: 30px;
}
.grid,
.col-1-3,
.col-2-3,
.col-1-2 {
	padding-left: 15px;
	padding-right: 15px;
}
.col-1-3,
.col-2-3,
.col-1-2 {
	display: inline-block;
	vertical-align: top;
}
.col-1-3 {
	width: 33.33%;
}
.col-2-3 {
	width: 66.66%;
}
.col-1-2 {
	width: 50%;
}

/* Clearfix */

.group::before,
.group::after {
	content: "";
	display: table;
}
.group::after {
	clear: both;
}
.group {
	clear: both;
	*zoom: 1;
}

/* Rows */

.row,
.row-alt{
	min-width: 960px;
}
.row {
	background: #F5F5F7;
	padding: 66px 0 44px 0;
}
.row-alt {
	padding: 200px 0 122px 0;
}

/* Typography */

h1, h2, h3, h4 {
	color: #000000;
}
h1, h3, h4, h5, p {
	margin-bottom: 22px;
}
h1 {
	font-size: 65px;
	line-height: 78px;
	font-weight: 600;
}
h2 {
	font-size: 29px;
	line-height: 35px;
	font-weight: 600;
}
h3 {
	font-size: 23px;
	font-weight: 600;
}
h4 {
	font-size: 18px;
}
h5 {
	color: #7B7B7C;
	font-size: 15px;
	font-weight: 500;
}
strong {
	font-weight: 400;
}
cite,
em {
	font-style: italic;
}

/* Leads */

.lead {
	text-align: left;
}
.lead p {
	font-size: 24px;
	line-height: 36px;
}

/* Links */

a {
	color: #06c;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
p a {
	color: #06c;

}
.primary-header a {
	color: #D6D6D6;
}
.primary-footer a {
	color: #424245;
}
.primary-header a:hover {
	color: #fff;
}
.primary-footer a:hover {
	text-decoration: underline;
}

/* Buttons */

.btn {
	border-radius: 12px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: 500;
	margin: 0;
}
.btn-default {
	border: 0;
	background: #06c;
	padding: 11px 30px;
	font-size: 14px;
	width: 100%;
	margin-top: 50px;
}
.btn-default:hover {
	box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.btn-alt {
	padding: 10px 30px;
}
.btn-alt:hover {
	color: #06c;
	text-decoration: underline;
}

/* Navigation */

.nav {
	text-align: right;
}
.nav li {
	display: inline-block;
	margin: 15px 25px;
	vertical-align: top;
}
.nav li:last-child {
	margin-right: 0;
}

/* Primary header */

.primary-header {
	background: #313132;
	width: 100%;
	position: fixed;
}
.logo {
	float: left;
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
	margin: 15px 0;
}
.tagline {
	float: left;
	font-size: 12px;
	font-weight: 300;
	color: #D6D6D6;
	line-height: 14px;
	margin: 15px 50px;
}
.primary-nav {
	font-size: 12px;
	font-weight: 300;
	line-height: 14px;
}

/* Primary footer */

.primary-footer {
	color: #424245;
	font-size: 12px;
	padding-bottom: 30px;
	border-top: 1px solid #D2D2D7;
}
.primary-footer small {
	float: left;
	font-weight: 300;
	margin-top: 15px;
}
.primary-footer li {
	margin: 15px 0px 15px 25px;
	padding-right: 25px;
	border-right: 1px solid #D2D2D7;
}
.primary-footer li:last-child {
	padding-right: 0;
	border-right: 0px solid #D2D2D7;
}

/* Home */

.hero {
	color: #000;
	line-height: 44px;
	padding: 200px 80px 116px 80px;
	text-align: center;
}
.hero h2 {
	font-size: 65px;
	margin-bottom: 50px;
	padding: 0px 0;
	font-weight: 700;
	line-height: 78px;
}
.hero p {
	font-size: 24px;
	font-weight: 500;
	color: #7B7B7C;
}
.hero a {
	font-size: 20px;
	color: #06c;
}
.teaser a:hover img {
	box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.teaser img {
	border-radius: 5px;
	display: block;
	margin-bottom: 22px;
	max-width: 100%;
	box-shadow: 0 4px 15px rgba(0,0,0,0.07);
}
.space-bottom {
	padding-bottom: 150px;
}

/* Speakers */

.speaker {
	margin-bottom: 100px;
	border-top: 1px solid #C4C4C6;
	padding-top: 50px;
}
.speaker h5 {
	padding-top: 25px;
}
.speaker-info {
	padding-bottom: 22px;
	text-align: center;
	line-height: 32px;
}
.speaker-info li {
	font-size: 11px;
	font-weight: 600;
	background: #E9E8EC;
	height: 35px;
	width: 200px;
	border-radius: 18px;
	margin: 0 auto 10px auto;
}
.speaker-info li:hover {
	background: #06c;
}
.speaker-info a {
	color: #464647;
}
.speaker-info a:hover {
	color: #fff;
	text-decoration: none;
}
.speaker-info img {
	border-radius: 50%;
	height: 150px;
	margin: 0 0 25px 0;
	box-shadow: 0 4px 25px rgba(0,0,0,0.1);
}

/* Schedule */

table {
	margin-bottom: 150px;
	width: 100%;
}
th,
td {
	padding-bottom: 25px;
	vertical-align: top;
}
th {
	padding-right: 50px;
	text-align: left;
	width: 200px;
}
td {
	width: 350px;
}
thead {
	line-height: 44px;
}
thead td {
	color: #000000;
	font-size: 29px;
	font-weight: 600;
}
tbody th {
	color: #7B7B7C;
	font-size: 20px;
	font-weight: 400;
	padding-top: 25px;
	text-transform: uppercase;
}
tbody td {
	border-top: 1px solid #C4C4C6;
	padding-top: 25px;
}
tbody td:first-of-type {
	padding-right: 15px;
}
tbody td:last-of-type {
	padding-left: 15px;
}
tbody td:only-of-type {
	padding-left: 0;
	padding-right: 0;
}
table a {
	color: #06c;
}
table a:hover {
	color: #06c;
	text-decoration: underline;
}
table h4 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 10px;
}
.schedule-offset {
	font-size: 20px;
	font-weight: 400;
	color: #7B7B7C;
}

/* Venue */

.venue-theatre {
	margin-bottom: 100px;
}
.venue-theatre p {
	font-weight: 500;
	margin-top: 25px;
}
.venue-hotel {
	margin-bottom: 150px;
}
.venue-hotel p {
	font-weight: 500;
	margin-top: 25px;
}
.venue-map {
	height: 300px;
	padding: 0;
	border-radius: 17px;
	box-shadow: 0 4px 25px rgba(0,0,0,0.1);
}
.venue-map iframe {
	width: 100%;
	height: 100%;
}

/* Register */

.details h5 {
	color: #06c;
	font-size: 22px;
	font-weight: 500;
	margin-top: 15px;
}
.details p {
	color: #7B7B7C;
	margin-top: 30px;
	width: 500px;
}
.details h4 {
	font-size: 22px;
	font-weight: 600;
	margin-top: 50px;
}
.details ul {
	color: #7B7B7C;
	margin-top: 30px;
}
.why-attend {
	list-style: disc;
	margin: 0 0 22px 30px;
}
form {
	margin-bottom: 150px;
}
input,
select,
textarea {
	font: 400 15px/22px "Lato", "Helvetica Neue", Helvetica, "Open Sans", Arial, sans-serif;
	background: #F5F5F7;
}
.register-group label {
	color: #000;
	cursor: pointer;
	font-weight: 400;
}
.register-group input,
.register-group select,
.register-group textarea {
	border: 1px solid #c6c9cc;
	border-radius: 12px;
	color: #000;
	display: block;
	margin: 5px 0 27px 0;
	padding: 10px 20px;
}
.register-group input,
.register-group textarea {
	width: 100%;
}
.register-group select {
	height: 34px;
	width: 60px;
}
.register-group textarea {
	height: 78px;
}
.register-btn {
	display: inline-block;
	margin-right: 10px;
}
.register-btn input[type=radio] {
	display: none;
}
.register-btn label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 16.49px;
	margin-top: 10px;
	margin-bottom: 25px;
	line-height: 43px;
	border: 1px solid #c6c9cc;
	color: #7B7B7C;
	border-radius: 12px;
	user-select: none;
}
.register-btn input[type=radio]:checked + label {
	background: #06c;
	color: #fff;
	border: 1px solid #06c;
}
.register-btn label:hover {
	color: #000;
	border: 1px solid #06c;
}